@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col s5 m4 l3">
            <div class="card">
                <div class="card-content">
                    <h5 class="center-align">
                        Item 1
                    </h5>
                </div>
                <div class="card-action">
                    <p class="center-align"><a href="" class="center-align btn waves-effect">Buy</a></p>
                </div>
            </div>
        </div>
        <div class="col s5 m4 l3">
            <div class="card">
                <div class="card-content">
                    <h5 class="center-align">
                        Item 2
                    </h5>
                </div>
                <div class="card-action">
                    <p class="center-align"><a href="" class="center-align btn waves-effect">Buy</a></p>
                </div>
            </div>
        </div>
        <div class="col s5 m4 l3">
            <div class="card">
                <div class="card-content">
                    <h5 class="center-align">
                        Item 3
                    </h5>
                </div>
                <div class="card-action">
                    <p class="center-align"><a href="" class="center-align btn waves-effect">Buy</a></p>
                </div>
            </div>
        </div>
        <div class="col s5 m4 l3">
            <div class="card">
                <div class="card-content">
                    <h5 class="center-align">
                        Item 4
                    </h5>
                </div>
                <div class="card-action">
                    <p class="center-align"><a href="" class="center-align btn waves-effect">Buy</a></p>
                </div>
            </div>
        </div>
        <div class="col s5 m4 l3">
            <div class="card">
                <div class="card-content">
                    <h5 class="center-align">
                        Item 5
                    </h5>
                </div>
                <div class="card-action">
                    <p class="center-align"><a href="" class="center-align btn waves-effect">Buy</a></p>
                </div>
            </div>
        </div>
        <div class="col s5 m4 l3">
            <div class="card">
                <div class="card-content">
                    <h5 class="center-align">
                        Item 6
                    </h5>
                </div>
                <div class="card-action">
                    <p class="center-align"><a href="" class="center-align btn waves-effect">Buy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>